<!-- Example contents:
[
	[
		1,
		"nut m42",
		"item1 description",
		"screw",
		10,
		1,
		2,
		"none"
	],
	[
		2,
		"nut m4456232",
		"item1 description",
		"screw",
		10,
		1,
		2,
		"none"
	],
	[
		3,
		"nut m44562",
		"item1 description",
		"screw",
		10,
		1,
		2,
		"none"
	],
	[
		4,
		"nut m44562",
		"item1 description",
		"screw",
		10,
		1,
		5,
		"none"
	],
	[
		5,
		"nut m44562",
		"item1 description",
		"nut",
		10,
		1,
		5,
		"none"
	],
	[
		6,
		"nut m44562",
		"item1 description",
		"nut,bolt",
		10,
		1,
		5,
		"none"
	]
]-->

<!DOCTYPE html>
<html>
<head>
    <title>Inventory</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <h1>Item List</h1>
    <button class="topRight" id="addItemDialogButton" >Add Item</button>
    <!-- <button class="topRight" id="addNodeDialogButton">Add Node</button> -->
    <div id="centerpoint">
        <dialog id="addItemDialog">
            <form id="addItemForm">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"><br>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description"><br>
                <label for="category">Category:</label>
                <input type="text" id="category" name="category"><br>
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity"><br>
                <label for="node">Node:</label>
                <input type="number" id="node" name="node"><br>
                <label for="slot">Slot:</label>
                <input type="number" id="slot" name="slot"><br>
                <label for="link">Link:</label>
                <input type="text" id="link" name="link"><br>
                <button type="submit">Add Item</button>
                <button type="button" id="closeDialog">Cancel</button>
            </form>
        </dialog>
    </div>
    <table id="itemTable">
        <thead>
            <tr>
                <th class="topTable"><input type="text" placeholder="Name" class="topTableInput" id="nameInput"></th>
                <th class="topTable">Description</th>
                <th class="topTable"><input type="text" placeholder="Category" class="topTableInput" id="categoryInput"></th>
                <th class="topTable">Quantity</th>
                <th class="topTable">Node</th>
                <th class="topTable">Position</th>
                <th class="topTable">Delete</th>
                <th class="topTable">Locate</th>
                <!-- <th class="topTable">Link</th> -->
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    
    <script src="../static/script.js"></script>
</body>
</html>